@page "/edit-task/{Id:guid}"
@using ToDoList.Model;
@inject IJSRuntime JS;
@inject NavigationManager NV;

@if(taskToEdit == null)
{
    <p>Задача не найдена</p>
}
else
{
    <EditForm Model="@taskToEdit" OnValidSubmit="HandleValidEdit">
        <DataAnnotationsValidator />
        <!--<ValidationSummary />-->
        <div id ="edit-form">
            <div class="task-item">
                <label>Заголовок:</label>
                <InputText @bind-Value="taskToEdit.Title" class="form-input" />
                <ValidationMessage For="@(() => taskToEdit.Title)" />
            </div>

            <div class="task-item">
                <label>Срок:</label>
                <InputDate @bind-Value="taskToEdit.DueDate" class="form-input" />
                <ValidationMessage For="@(() => taskToEdit.DueDate)" />
            </div>
            <div class="task-item">
                <label>Приоритет:</label>
                <InputSelect @bind-Value="taskToEdit.Priority" class="form-input">
                    @foreach (var p in Enum.GetValues<TaskPriority>())
                    {
                        <option value="@p">@p</option>
                    }
                </InputSelect>
            </div>

            <button class="button-task-list" type="submit">Сохранить задачу</button>
            <a class="btn btn-primary button-task-list" style="background-color: #3B3B1A;" href="/tasks">Отмена</a>
        </div>
        
    </EditForm>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    private TaskModel taskToEdit;

    protected override void OnInitialized()
    {
        taskToEdit = Tasks.tasks.FirstOrDefault(t => t.Id == Id);
    }

    private async Task HandleValidEdit()
    {
        var json = System.Text.Json.JsonSerializer.Serialize(Tasks.tasks);
        await JS.InvokeVoidAsync("localStorage.setItem", "tasks", json);

        NV.NavigateTo("/tasks");
    }
}
