@page  
@model Kino_Pesochnisa_16._06._25.Pages.FilmModel
@{
    ViewData["Title"] = "Films!";
}

<h2 class="filmList">Films List</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var film in Model.Films)
    {
        <div class="col">
            <img src="@film.ImagePath" alt="@film.Name" class="card-img-top img-fluid" />
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-page="/FilmDetails" asp-route-id="@film.Id">@film.Name</a>
                </h5>
                <p class="card-text">Режиссер: @film.Author</p>
            </div>
        </div>
    }
</div>

<form method="get" class="filterForm">
    <label>Фильтр по жанру</label>
    <input type="text" name="style" value="@Model.Style"/>
    <button type="submit">Фильтр</button>
</form>

<form method="post" class="addForm">
    <label class="form-label">Название</label>
    <input asp-for="NewFilm.Name" class="form-control"/>
    <!--span asp-validation-for="NewFilm.Name" class="text-danger"></span-->
    <label class="form-label">Автор</label>
    <input asp-for="NewFilm.Author" class="form-control"/>
    <button type="submit" class="btn-dark">Добавить</button>
</form>

<!--form method="post" class="addForm">
    <input type="text" name="Name" placeholder="Название" />
    <input type="text" name="Author" placeholder="Автор" />
    <input type="text" name="Style" placeholder="Жанр" />
    <input type="text" name="Description" placeholder="Описание" />
    <a asp-page="Index">Перейти на главную страницу</a>
    <button type="submit">Добавить</button>
</form-->

<form method="post" asp-page-handler="Save">
    <button type="submit">Сохранить</button>
</form>

<form method="post" asp-page-handler="ErrorTest" >
    <button type="submit">dsfsdf</button>
</form>

<form method="post" asp-page-handler="Redirect">
    <button type="submit">Переадресация</button>
</form>