@page 
@model Kino_Pesochnisa_16._06._25.Pages.FilmModel
@{
    ViewData["Title"] = "Films!";
}

<h2 class="filmList">Films List</h2>

<form method="get" class="filterForm row g-3 mb-4">
    <div class="col-md-3">
        <label class="form-label">Название</label>
        <input type="text" name="SearchName" value="@Model.SearchName" class="form-control"/>
    </div>
    <div class="col-md-3">
        <label class="form-label">Автор</label>
        <input type="text" name="SearchAuthor" value="@Model.SearchAuthor" class="form-control" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Жанр</label>
        <select name="style" class="form-select">
            <option value="">Все жанры</option>
            @foreach (var genre in Model.AvailableStyles)
            {
                <option value="@genre" selected="@(Model.Style == genre ? "selected" : null)">
                    @genre
                </option>
            }
        </select>
    </div>

    <div class="col-md-3 d-flex align-items-end">
        <button type="submit" class="btn btn-primary w-100 me-3">Применить фильр</button>
        <a asp-page="/Film" class="btn btn-outline-secondary w100">Сброс</a>
    </div>
</form>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var film in Model.Films)
    {
        <div class="col">
            <img src="@film.ImagePath" alt="@film.Name" class="card-img-top img-fluid" />
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-page="/FilmDetails" asp-route-id="@film.Id">@film.Name</a>
                </h5>
                <p class="card-text">Режиссер: @film.Author</p>
            </div>
        </div>
    }
</div>



<form method="post" class="addForm" enctype="multipart/form-data">
    <label class="form-label">Название</label>
    <input asp-for="NewFilm.Name" class="form-control" />

    <label class="form-label">Автор</label>
    <input asp-for="NewFilm.Author" class="form-control" />

    <label class="form-label">Жанр</label>
    <input asp-for="NewFilm.Style" class="form-control" />

    <label class="form-label">Описание</label>
    <input asp-for="NewFilm.Description" class="form-control" />

    <label class="form-label">Изображение</label>
    <input type="file" name="UploadedImage" class="form-control" />

    <button type="submit" class="btn-dark newFilmBtn">Добавить</button>

</form>

<!--form method="post" class="addForm">
    <input type="text" name="Name" placeholder="Название" />
    <input type="text" name="Author" placeholder="Автор" />
    <input type="text" name="Style" placeholder="Жанр" />
    <input type="text" name="Description" placeholder="Описание" />
    <a asp-page="Index">Перейти на главную страницу</a>
    <button type="submit">Добавить</button>
</form-->

<!--form method="post" asp-page-handler="Save">
    <button type="submit">Сохранить</button>
</!--form>

<form method="post" asp-page-handler="ErrorTest" >
    <button type="submit">dsfsdf</button>
</form>

<form-- method="post" asp-page-handler="Redirect">
    <button type="submit">Переадресация</button>
</form-->